.form-container {
    width: 40%;
    margin: 0 auto;
    margin-top: 120px;
}

.password-form {
    display: block;
    padding-top: 50px;
}

.form-label {
    display: block;
    font-size: 18px;
}

.form-button {
    float: right;
    border: none;
    padding: 8px;
    background: teal;
    color: white;
    font-size: 18px;
}